<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  This is the official help page for Josh Beasley's Event Scheduling App. If you need help... I really don't know what you should do. I left this page in the website because I liked the way it looks, but it's actually completely useless :)
</p>