<% provide(:title, 'Check-In') %>
<h1>Check-In</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@attendee, url: checkin_path) do |f| %>
      <%= render 'shared/error_messages_attendees' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.label :event_id %>
      <%= f.collection_select :event_id, Event.all, :id, :name, class: 'form-control'%>

      <%= f.submit "Check-In", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>