<div class="center jumbotron">
  <h1>Welcome to the Event Scheduling App</h1>

  <h2>
    This is the home page for Josh Beasley's
    event scheduling application.
  </h2>


    <div class = 'create'><%= link_to "Create Event", signup_path, class: "btn btn-lg btn-primary" %></div>
    <div class = 'delete' ><%= link_to "Check-In", checkin_path, class: "btn btn-lg btn-success" %></div>

  

  <% @events.each do |event| %>
	<div class = "event">
	  <h2>
	  	<div class = "name"><%= event.name %></div>
	  	<div class = "time">Event Time: <%= event.starts_at %></div>
      <div class = 'attendee'>Attendees:</div>
      <div>
        <% @attendees.each do |attendee| %>
          <% if attendee.event == event %>
            <div class = 'list'>
              <h4>Name: <%= attendee.name %> Check-In Time: <%= attendee.updated_at %>
              </h4>
            </div>
          <% end %>
        <% end %>
      </div>
	  	<div class = 'delete'><%= link_to "Delete Event", event, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-lg btn-danger" %></div>
	  </h2>
	</div>
  <% end %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>