
<div class = "event">
	  <h2>
	  	<div class = "name"><%= @event.name %></div>
	  	<div class = "time"><%= @event.starts_at %></div>
	  	<div class = "delete"><%= link_to "Delete Event", '#', class: "btn btn-lg btn-danger" %></div>
	  </h2>
</div>